.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #141516;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.text-container {
  --fill-progress: 0%;
  position: relative;
  display: inline-block;
  line-height: 0.85;
  padding-right: 10px;
}

.preloader-text {
  font-size: 80px;
  font-weight: 500;
  font-family: "Cossette Titre";
  margin: 0;
  display: block;
  width: max-content;
  line-height: 0.85;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: transparent;
  background-image: linear-gradient(
    to top,
    #ff0000 0,
    #ff0000 var(--fill-progress),
    #ffffff var(--fill-progress),
    #ffffff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  will-change: background-image;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .preloader-text {
    font-size: 40px;
  }
}
