/* work: slider */
.page.work,
.page.work .slider {
  position: relative;
  width: 100%;
  height: 100svh;
}

.page.work canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.page.work .slider-content {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 2;
  padding: 10px;
}

.page.work .slide-description {
  /* width: 75%; */
  padding: 1.5rem; /* increased from 0.5rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 4px; /* ADD THIS */
  /* backdrop-filter: blur(5px); */
  /* background-color: rgba(0, 0, 0, 0.15); */
  justify-content: center;
}

.page.work .slide-title h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 7rem;
}

.page.work .slide-title h1 .word {
  filter: drop-shadow(4px 4.5px 2.5px black);
  display: flex;
}

.page.work .slide-title h1 .char {
  display: block;
}

.page.work .char,
.page.work .line {
  overflow: hidden;
}

.page.work .char span,
.page.work .line span {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.page.work .slide-link a {
  filter: drop-shadow(4px 2.5px 1.5px black);
  position: relative;
  display: block;
  color: var(--tone-400);
  width: max-content;
  padding: 0.5rem 0;
  font-size: 30px;
}

.page.work .slider-content .slide-info {
  background: none;
  filter: drop-shadow(4px 2.5px 1.5px black);
}

.page.work .slide-info .line span {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.page.work .slide-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.page.work .slide-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--tone-400);
  filter: drop-shadow(4px 2.5px 1.5px black);
}

/* .page.work .slide-footer .container .click-through {
  border: 0.5px dashed var(--tone-400); 
} */

@media (max-width: 1000px) {
  .page.work .slider-content {
    width: calc(100% - 2rem);
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
  }

  .page.work .slide-title h1 {
    font-size: 55px;
  }

  .page.work .slide-description {
    width: 90%;
  }

  .page.work .slide-link a {
    margin: 0 auto;
  }

  .page.work .slide-title h1 .word {
    filter: drop-shadow(2px 0.5px 0.75px black);
  }

  .page.work .slide-link a {
    filter: drop-shadow(2px 0.5px 0.75px black);
  }

  .page.work .slider-content .slide-info {
    filter: drop-shadow(3px 2px 1.5px black);
  }

  .page.work .slide-footer .container .click-through {
    filter: drop-shadow(3px 2px 1.5px black);
  }
}
